name: CI
on:
  push:
    branches: [main]
  pull_request: {}

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Configure Rust
        run: rustup toolchain install stable --profile minimal
      - name: Cache
        uses: Swatinem/rust-cache@v2
      - name: Build
        run: cargo build --verbose
      - name: Lint
        run: cargo clippy --no-deps --frozen --all-features -- -Dwarnings
      - name: Check Formatting
        run: cargo fmt --check
      - name: Test
        run: cargo test --verbose
